# Plot stocks with Spark, Hive and Plotly

This notebook shows how to query a Hive table from Spark, and plot the result with Plotly

In [1]:
# import PySpark context
from pyspark import SparkContext, SparkConf
from pyspark.sql import HiveContext

print sc
print sqlContext

In [21]:
# query on Hive table

df = sqlContext.sql("""
select to_date(concat(year(quote_date), '-', month(quote_date), '-01')) as quote_date, sum(volume) as sum_volume, avg(close) as avg_close
from default.rht_quotes_orc
group by to_date(concat(year(quote_date), '-', month(quote_date), '-01'))
order by quote_date asc
""")

print df

DataFrame[quote_date: date, sum_volume: double, avg_close: double]

In [13]:
# import and configure plotly in offline mode
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go, Bar, Scatter, Figure, Layout

print __version__ # requires version >= 1.9.0

init_notebook_mode(connected=True) # run at the start of every ipython notebook to use plotly.offline
                     # this injects the plotly.js source files into the notebook

1.12.2

In [17]:
# execute query and convert to pandas DataFrame
pdf = df.toPandas()
pdf.head(10)

   quote_date   sum_volume   avg_close
0        None          NaN         NaN
1  1999-08-01  147858000.0   72.537500
2  1999-09-01  117795400.0  103.311013
3  1999-10-01   45158000.0   85.433035
4  1999-11-01   71430800.0  125.312500
5  1999-12-01   57495800.0  240.576705
6  2000-01-01   35201000.0  148.954688
7  2000-02-01   52461800.0   80.371875
8  2000-03-01   73407300.0   60.051630
9  2000-04-01   50734800.0   31.036184

In [19]:
# plot the DataFrame
trace = go.Scatter( x=pdf['quote_date'], y=pdf['avg_close'] )
data = [trace]

iplot(data, filename='pandas-time-series')